#hero {
    background: url(https://raw.githubusercontent.com/mwismann/microverse-bootstrap-portfolio/ebcb522564f286ac95fa287523b9614c2daed08c/img-icon/desktop/header-illustration-desktop.svg) no-repeat;
    background-size: 100%;
  }
  
  .action-btn-sec {
    margin: 0 auto;
    padding: 0.4rem 0.5rem;
    background-color: transparent;
    border: 1px solid rgb(223, 225, 230);
    border-radius: 2rem;
  }
    
  .media-link img,
  .action-btn-sec img {
    width: 1.25rem;
  }
    
  .media-link img,
  .action-btn-sec {
    transition: 0.3s ease-in-out;
  }
    
  .action-btn-sec:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(30, 72, 143, 0.239);
  }
    
  .media-link img:hover,
  .action-btn-sec:hover {
    transform: scale(1.2);
  }
  
  /* Works Section */